@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&display=swap');

/*Main view setup */
html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: Lato, "Open sans", sans-serif;
    margin: 0;
    background-color: #fff;
}

/* header */

header {
    text-align: center;
    height: 50px;
}







/* Game Area */

.game-area {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
}

.game-option {
    display: inline-block;
    margin: 2px;
    width: 80px;
    height: 40px;
    
}

#game-rules {
    display: inline-block;
    margin: 2px;
    width: 80px;
    height: 40px;
    background-color: darkgreen;
    color: #fff;
}

#message {
    height: 20px;
}


#player-image {
width: 70%;
}

#computer-image {
width: 70%;
}

.player {
background-color: #9dae5d;
float: left;
width: 45%;

}

.computer {
    
background-color: #ca0935;
float: right;
width: 45%;
}

